// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1{
  font-family: "Caveat", cursive;
}

/* ======= Initialize ======= */

*, ::before, ::after {
  marging: 0;
  padding: 0;
  box-sizing:border-box;
}
::root{
  --accent-color: #34495e;
  --bg-color: #ecf0f1;
  --sub-font: "georgia", sans-serif;
  --main-font: "Caveat", cursive;
  --g-ratio: 1.618;
}
body{
  font-family: var(--sub-font);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size:1.2rem;
}
hr{
  margin-top: 0.5rem;
  width:70px;
  height: 5px;
  background-color: 334495e;
  border: none;
}
h1, h2, h3, title{
  font-family: var(--main-font);
  font-weight: 900;
}
.title{ 
  color: var(--accent-color);
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw / var(--g-ratio));
  height:100vh;
  min-width:800px;
  marging: 0 auto;
  background-color: inherit;
}








