html {
  height: 100%;
  width: 100%;
}
body{
  background-color:#9fc5e8 ;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



h1{

   font-family:"Shrikhand", serif;
   letter-spacing: 0.05cm;
}
.slides{
  position:absolute;
  left:5px;
  width:100%;
}
h2{
  font-family:"Poetsen One", sans-serif;
}
.dropbtn {
  background-color: #ffffff;
  color: #050505;
  padding: 16px;
  font-size: 16px;
  border: none;
  box-shadow: white;

 
  width:150px;
  font-family: Montserrat;
  
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: Montserrat;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: #dbffe4;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #000000;
                         color:white}

.banner{
  border: 3px solid #ffffff;
  box-shadow: 1px 3px 30px 1px #ffffff;
  color: white;
  font-family: 'Comic Sans MS', cursive;
  height:230px;
  margin:15px;
  padding: 5px;
background-image:"website.png";
}

#description{
  text-align:center;
  color:white;
}


