html {
  height: 100%;
  width: 100%;
}
body{
  background-color:#9fc5e8;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



h1{
   font-family:"Shrikhand", serif;
   letter-spacing: 0.05cm;
}

.slides{
  position:absolute;
  left:5px;
  width:100%;
}
h2{
  font-family:"Poetsen One", sans-serif;
}

 .banner{
  border: 3px solid #ffffff;
  box-shadow: 1px 3px 30px 1px #ffffff;
  color: white;
  font-family: 'Comic Sans MS', cursive;
  height:230px;
  margin:15px;
  padding: 5px;
background-image:url("website.png");
}

#description{
  text-align:center;
  color:white;
}

#boy{
   width:75px;
  z-index:1;
  position:absolute;
  right:1%;
  top:158px;
}

#girl{
     width:75px;
  z-index:1;
  position:absolute;
  right:1.2%;
  top:158px;
}


